<div class="col-md-6 col-lg-6">
<% if is_owner_of_team(@team) %>
    <h5 class="page-header">Add new teammates</h5>
    <%= form_tag(add_member_team_path, class: 'form-inline', remote: true) do |f| %>
      <%= label_tag "Last Name" %>
      <%= select_tag 'user_id', {}, {id: 'add_user_id'} %>
      <%= submit_tag 'Add', class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render 'members', members: @team.users, editable: is_owner_of_team(@team) %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#add_user_id').selectize({
      plugins: ['remove_button'],
      delimiter: ',',
      persist: false,
      valueField: 'id',
      labelField: 'full_name',
      searchField: 'full_name',
      options: [],
      create: false,
      load: function(query, callback) {
            // if (query.length < 3) return callback();
            $.ajax({
                url: '<%= search_member_team_path %>',
                type: 'GET',
                dataType: 'json',
                data: {
                    q: query,
                },
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res);
                }
            });
        }
    });
  });
</script>
