<%= page_header('My Teams', 'My Teams') %>

<div class="row">
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
          <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    <% @teams.each do | team | %>
      <tr>
        <td><%= team.name%></td>
        <td><%= link_to 'Show', team%></td>
        <% if (is_owner_of_team(team)) %>
          <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
<%= link_to 'New Team', new_team_path %>
