<%= header('h1', {:title => 'Show team', :text => @team.name, :buttons => { 
  :edit => { 
    :caption => 'Edit', 
    :path => edit_team_path(@team), 
    :class=>'btn btn-primary'
  },
  
}}) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= profile_link_to_user(@team.owner) %>
</p>

<%= header('h3', {:text => 'Teammates'}) %>
<%= render @team %>

<%= header('h3', {:text => 'Join new member to this team'}) %>
