<td><%= workload.description %></td>
<td><%= workload.hours %></td>
<td><%= workload.user %></td>
<td><%= link_to 'Show', workload %></td>
<td><%= link_to 'Edit', edit_workload_path(workload) %></td>
<td><%= link_to 'Destroy', workload, method: :delete, data: { confirm: 'Are you sure?' } %></td>