<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @workload.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @workload.hours %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @workload.issue.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @workload.user.full_name %>
</p>

