<%= page_header("Edit Profile", "Edit Profile", dashboard_path) %>

<div class="row ">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="center">
    <%= gravatar_for @user %>
    <%= link_to "Update your picture from Gravatar", "http://gravatar.com/emails", :class=>"btn btn-link", :id => "avatar"%>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <%= bootstrap_form_for(@user) do | f | %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save", :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>