<%= page_header('My Projects', 'My Projects') %>

<div class="row">
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td>
        <% if is_owner_of_project(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%= link_to 'New Project', new_project_path %>
