<!DOCTYPE html>
<html>
<head>
  <title>Tracker App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render('layouts/shim') %>
</head>
<body>
  <%= render('layouts/header') %>
  <div id="wrapper" class="<%= show_sidebar_if(signed_in?)%>">
  <%= render('layouts/sidebar') %>
  <% if (signed_in?) %>
    <div id="page-content-wrapper" class="no-padding">
  <% else %>
    <div id="page-content-wrapper">
  <% end %>
        <div class="container-fluid">
        <%= render('layouts/flash') %>
            <div class="row">
                <div class="col-lg-12">
                  <%= yield %>
                </div>
            </div>
        </div>
    </div>
  </div>
  <%= render('layouts/footer') %>  
</body>
</html>
